.banner {
  color: white;
  text-align: center;
  padding: 50px 200px 300px 200px;
  background-size: cover;
}

.banner p {
  color: white;
  font-size: 20px;
 }

.banner h1 {
  color: white;
  font-size: 60px;
 }
